.vscode/

# Python缓存文件
__pycache__/

# 环境变量文件

.env
.venv/
volumes/
.codex
docker-compose.yml
.python-version
main.py
pyproject.toml
uv.lock

# https://github.com/xilin0770/Graduation_Project.git
# Graduation_Project

